
h3 {
    margin: 0px;
    padding: 0px;
}

.page-title {
    font-size: 120%;
    /*text-align: left;*/
    margin: 10px 0px;
}

.header-container {
    position: relative;
}

/*.header-container .header-bar {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    bottom: 20px;*/
/*}*/

/*.header-container .header-bar a {*/
/*    !*color: white;*!*/
/*    !*font-size: bold;*!*/
/*}*/


.menu-container {
    text-align: right;
    margin: 10px 5px;
}

.menu-container a {
    margin: 5px 5px 5px 10px;
    color: #004d99;
    font-weight: bold;
    text-decoration: none;
}

.site-name {
    font-size: 200%;
    margin: 10px 10px 10px 0px;
    padding: 5px;
}

.demo-container, .login-container, .account-container {
    padding: 5px;
    border: 1px solid #ccc;
    /*text-align: left;*/
    margin: 20px 0px;
}

.customer-info-container {
    /*text-align: left;*/
    border: 1px solid #ccc;
    padding: 0px 5px;
}

.product-preview-container {
    border: 1px solid black;
    padding: 5px;
    width: 250px;
    margin: 1.5%;
    display: inline-block;
    /*text-align: left;*/
    overflow: hidden;
    background: #ffffff;
}

.product-preview-container input {
    width: 50px;
}

.product-preview-container:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.login-container {
    padding-bottom: 20px;
    padding-top: 40px;
    width: 60%;
    margin: 50px auto auto;
}

.product-image {
    /*width: 50%;*/
    /*height: 50%;*/
}

ul {
    list-style-type: none;
    padding-left: 5px;
    margin: 5px;
}


.navi-item {
    margin: 5px 5px 5px 20px;
}

.button-update-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}

.button-send-sc {
    color: red;
    margin: 5px 5px 5px 20px;
}

.error-message {
    font-size: 90%;
    color: red;
    font-style: italic;
}

.price {
    color: blue;
    font-weight: bold;
}

.subtotal {
    color: red;
    font-weight: bold;
}

.total {
    color: red;
    font-weight: bold;
    font-size: 120%;
}

table td {
    padding: 5px;
}

.page-navigator {
    margin-top: 5%;
}