<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Web-site</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="content">
        <header>
            <nav id="header-nav" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="main.html" class="pull-left visible-md visible-lg">
                            <div id="logo-img"></div>
                        </a>

                        <div class="navbar-brand">
                            <a href="main.html"><h1>My-store</h1></a>
                        </div>

                        <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#collapsable-nav" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div id="collapsable-nav" class="collapse navbar-collapse">
                        <ul id="nav-list" class="nav navbar-nav navbar-right">
                            <li>
                                <a href="main.html">
                                    <br class="hidden-xs"> Main</a>
                            </li>
                            <li class="visible-xs active">
                                <a href="#">
                                    <br class="hidden-xs"> Catalogue</a>
                            </li>
                            <li>
                                <a href="reg.html">
                                    <br class="hidden-xs"> Sign in</a>
                            </li>
                            <li>
                                <a href="auth.html">
                                    <br class="hidden-xs"> Log in</a>
                            </li>
                            <li id="phone" class="hidden-xs">
                                <a href="tel:410-602-5008">
                                    <span>123-456-7890</span></a>
                                <div>* We deliver</div>
                            </li>
                            <li>
                                <a href="#cart" id="btn">
                                    <!--                            <br> Cart-->
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    <span class=" total-count badge">
                        </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="text-center modal-title" id="exampleModalLabel">Cart</h5>
                    </div>
                    <div class="modal-body">
                        <table class="show-cart table">

                        </table>
                        <div>Total price: <span class="total-cart"></span> hrn.</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Order now</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center">
            <div class="text-center  text ">
                <h1>Smart-watches</h1>
            </div>
            <hr class="solid">
            <div class="text-left">
                <h2>Apple</h2>
            </div>
            <div class="row">
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <!--            <div class="card-block">-->
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch1</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">10 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch1" data-price="10799" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                    <!--            </div>-->
                </div>
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch2</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <del>2 499</del>
                        <span class="price">1 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch2" data-price="1799" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch3</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">10 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch3" data-price="10799" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch4</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <del>2 499</del>
                        <span class="price">1 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch4" data-price="2499" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch5</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">12 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch5" data-price="12799" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch6</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <del>8 499</del>
                        <span class="price">6 999 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch6" data-price="6999" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{/img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage.html" class="" target="_self" title="Смарт-годинник-A">
                            <span>Watch7</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">10 799 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch7" data-price="10799" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
            </div>
            <hr class="dashed">
            <div class="text-left">
                <h2>Samsung</h2>
            </div>
            <div class="row">
                <div class="item">
                    <img th:src="@{/img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage1.html" class="" target="_self" title="Смарт-годинник-S">
                            <span>Watch8</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">8 765 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch8" data-price="8765" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{/img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage1.html" class="" target="_self" title="Смарт-годинник-S">
                            <span>Watch9</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <del>7 499</del>
                        <span class="price">4 999 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch9" data-price="4999" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
                <div class="item">
                    <img th:src="@{/img/item.jpg}"/>
                    <div class="productName">
                        <a href="futurePage1.html" class="" target="_self" title="Смарт-годинник-S">
                            <span>Watch10</span>
                        </a>
                    </div>
                    <div class="price-block">
                        <span class="price">9 988 </span>
                        <span class="currency">hrn</span>
                    </div>
                    <a href="#" data-name="Watch10" data-price="9988" class="add-to-cart button btn btn-success">Add to
                        cart</a>
                    <div class="whenPrint">Придбати товари ви можете на нашому сайті</div>
                </div>
            </div>
            <hr class="solid">
        </div>
    </div>
    <footer class="panel-footer">
        <div class="container">
            <div class="row">
                <section id="hours" class="col-sm-4">
                    <span>Hours:</span><br>
                    Sun-Thurs: 11:15am - 10:00pm<br>
                    Fri: 11:15am - 2:30pm<br>
                    Saturday Closed
                    <hr class="visible-xs">
                </section>
                <section id="address" class="col-sm-4">
                    <span>Address:</span><br>
                    2 Hryhoriya Skovorody<br>
                    Kyiv, 04655
                    <p>* Delivery area within 3-4 miles, with minimum order of $20 plus $3 charge for all
                        deliveries.</p>
                    <hr class="visible-xs">
                </section>
                <section id="testimonials" class="col-sm-4">
                    <p>Git: <a href="https://github.com/MyPersonalGitRepositories">My repositories</a></p>
                    <p>Contact information: <a href="mailto:p.maxsym@gmail.com">p.maxsym@gmail.com</a></p>
                </section>
            </div>
            <div class="text-center">&copy; Copyright My-Store 2019</div>
        </div>
    </footer>
</div>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>