<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
>
<head>
    <meta charset="UTF-8">
    <title>Books Shop Online</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}"/>
</head>
<body>
<!--<th:block th:include="/_header"></th:block>-->
<div class="header-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <div class="site-name">Online Shop</div>

    <div class="header-bar">
        <th:block sec:authorize="isAuthenticated()">
            Hello
            <a th:href="@{/admin/accountInfo}" th:utext="${#request.userPrincipal.name}">..</a>
            &nbsp;|&nbsp;
            <a th:href="@{/admin/logout}">Logout</a>
        </th:block>

        <th:block sec:authorize="!isAuthenticated()">
            <a th:href="@{/admin/login}">Login</a>
        </th:block>
    </div>

</div>
<!--<th:block th:include="/_menu"></th:block>-->
<div class="menu-container"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <a th:href="@{/}">Home</a>
    |
    <a th:href="@{/productList}">
        Product List
    </a>
    |
    <a th:href="@{/shoppingCart}">
        My Cart
    </a>
    |
    <th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_EMPLOYEE')">
        <a th:href="@{/admin/orderList}">
            Order List
        </a>
        |
    </th:block>
    <th:block sec:authorize="hasRole('ROLE_MANAGER')">
        <a th:href="@{/admin/product}">
            Create Product
        </a>
        |
    </th:block>
</div>

<div class="page-title">Shopping Cart Demo</div>
<div class="demo-container">
    <h3>Demo content</h3>
    <ul>
        <li>Buy online</li>
        <li>Admin pages</li>
        <li>Reports</li>
    </ul>
</div>

<!--<th:block th:include="/_footer"></th:block>-->
<div class="footer-container">

    @Copy right <a href="//o7planning.org" target="_blank">o7planning.org</a>
    <br>
    See more <a>demo</a>

</div>

</body>
</html>